<nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
        <i class="fa fa-bars"></i>
      </a>
      <!-- right nav-->
      <div class="row">
        <ul class="right hide-on-small-only">
          <li>
            <a href="/"><span class="fa fa-home"></span> Home</a>
          </li>
        </ul>
      </div>
      <!-- side nav-->
      <ul class="side-nav" id="main-menu">
        <li>
          <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>